{% extends "BlogBundle::layout.html.twig" %}

{% block body %}

{% if app.user %}
<li><a href="{{ path('blog_add') }}">Ajouter une annonce</a></li>


  {{ include("BlogBundle:Advert:form.html.twig") }}

{% else %}
<p>Vous n'avez pas les droits nécessaires</p>
{% endif %}

{% endblock %}
