{% extends "BlogBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block blog_body %}

  <h2>Les dernières annonces</h2>

  
  {{ render(controller("BlogBundle:Advert:menu", {'limit': 5})) }}



{% endblock %}
